.max-width{
  width: 100% !important;
}
.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  min-height: 100vh;
}
.conteudo{
  min-height: 600px;
}
.content{
    display: table;
    position: relative;
}
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
    overflow: auto;
}
.left-off-canvas-menu{
  border-right: 5px dashed #333;
}
.my-left-menu{
    color: #fff !important;
}
.exit-off-canvas{
  z-index: -999 !important;
  background: none !important;
  position: relative !important;
}
.my-left-menu ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777;
}
.my-left-menu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
.my-left-menu ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
.my-left-menu :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #777;
}
.content-menu{
    height: 100%;
    background:#4d5158 none repeat scroll 0 0;
}

.accordion a{
  color: #fff !important;
  width: 100%;
}

.accordion .accordion-navigation > a,
.accordion dd > a, 
.accordion .accordion-navigation > .content.active, 
.accordion dd > .content.active{
 color: #fff !important;
 background:#4d5158 none repeat scroll 0 0 !important;
}

.accordion .accordion-navigation > a:hover,
.accordion dd > a:hover, 
.accordion .accordion-navigation > .content.active:hover, 
.accordion dd > .content.active:hover{
  color: #ccc !important;
  background:#333 none repeat scroll 0 0 !important;
}