<div class="row" ng-controller="ListPessoaController">
  <div class="panel clearfix">
    <h2 class="left">Listagem de Pessoas</h2>
    <a ui-sref="dinamico({'modulo':'core', 'nome':'pessoa'})" class="button success tiny right">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Novo
    </a>
  </div>
  <mp-table headers="headers" service="pessoaService" metadata="metadata" >
  </mp-table>
  <table class="max-table">
    <thead>
      <tr>
        <th>Id</th>
        <th width="200">Nome</th>
        <th>Telefone</th>
        <th width="150">Celular</th>
        <th width="150">Email</th>
        <th width="150">Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pessoa in pessoas">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.telefone }}</td>
        <td>{{ pessoa.celular }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.tipo === TIPO_PESSOA_FISICA.id ? TIPO_PESSOA_FISICA.nome : TIPO_PESSOA_JURIDICA.nome }}</td>
        <td>
          <a ui-sref="dinamico({'modulo':'core', 'nome':'pessoa','id':pessoa.id})" class="button tiny">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          Mostrando {{ current }} do total {{ count }} registro(s)
          <div class="right">
          <a class="button tiny">
            Anterior
          </a>
          <a class="button tiny">
            Próximo
          </a>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>