<form ng-controller="PessoaController" name="formulario" id="formulario" ng-submit="submit()">
  <div class="row panel clearfix">
    <h2 class="left">Listagem de Pessoas</h2>
    
    <button type="submit" class="button success tiny right" ng-disabled="formulario.$invalid" >
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Salvar
    </button>
    <a href="#/core/pessoa-list/" class="button primary tiny right">
      <i class="fa fa-times" aria-hidden="true"></i>
      Voltar
    </a>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Código
        <input type="text" placeholder="Código" ng-model="pessoa.id" readonly="true" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Nome
        <input type="text" ng-model="pessoa.nome" placeholder="Nome" required="required" maxlength="200" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>E-mail
        <input type="email" ng-model="pessoa.email" placeholder="E-mail" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Observação
        <textarea rows="4" ng-model="pessoa.observacao"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Telefone
        <input type="text" ng-model="pessoa.telefone" placeholder="Telefone" maxlength="20" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Celular
        <input type="text" ng-model="pessoa.celular" placeholder="Celular" maxlength="20" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Tipo
        <select ng-model="pessoa.tipo" ng-options="item.id as item.nome for item in tipos" required="required">
          <option value="">Selecionar</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row" ng-show="pessoa.tipo == 'PF' ">
    <div class="large-6 columns">
      <label>RG
        <input type="text" ng-model="pessoa.pessoa_fisica.rg" placeholder="RG" maxlength="20" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>CPF
        <input type="number" ng-model="pessoa.pessoa_fisica.cpf" placeholder="CPF" />
      </label>
    </div>
  </div>
  <div ng-show="pessoa.tipo == 'PJ' ">
    <div class="row">
      <div class="large-6 columns">
        <label>CNPJ
          <input type="number" ng-model="pessoa.pessoa_juridica.cnpj" placeholder="CNPJ" />
        </label>
      </div>
      <div class="large-6 columns">
        <label>Razão Social
          <input type="text" ng-model="pessoa.pessoa_juridica.razao_social" placeholder="Razão Social" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Nome Fantasia
          <input type="text" ng-model="pessoa.pessoa_juridica.nome_fantasia" placeholder="Nome Fantasia" maxlength="200" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Descrição
          <input type="text" ng-model="pessoa.pessoa_juridica.descricao" placeholder="Descrição" maxlength="200" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Inscrição Estadual
          <input type="number" ng-model="pessoa.pessoa_juridica.inscricao_estadual" placeholder="Inscrição Estadual" maxlength="30" />
        </label>
      </div>
      <div class="large-6 columns">
        <label>Inscrição Municipal
          <input type="number" ng-model="pessoa.pessoa_juridica.inscricao_municipal" placeholder="Inscrição Municipal" maxlength="30" />
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel clearfix">
      <h2 class="left">Contatos</h2>
      <button ng-click="adicionarContato()" type="button" class="button success tiny right">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Novo
      </buttion>
    </div>
    <table class="table-max">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th width="200"></th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="contato in pessoa.contatos">
          <td>
            <span ng-show="edit[$index]">{{ contato.nome }}</span>
            <input type="hidden" ng-model="contato.id" />
            <input ng-hide="edit[$index]" type="text" ng-model="contato.nome" placeholder="Nome" required="required" maxlength="20" />
          </td>
          <td>
            <span ng-show="edit[$index]">{{ contato.email }}</span>
            <input ng-hide="edit[$index]" type="email" ng-model="contato.email" placeholder="E-mail" />
          </td>
          <td>
            <span ng-show="edit[$index]">{{ contato.telefone }}</span>
            <input ng-hide="edit[$index]" type="text" ng-model="contato.telefone" placeholder="Telefone" maxlength="20" />
          </td>
          <td>
            <button type="button" ng-click="editarContato($index)" class="button tiny">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-click="removerContato($index)" class="button alert tiny right">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
              Remover
            </buttion>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>