<div class="panel sublevel-2">
  <h3>Perfil</h3>
  <form name="loginForm" ng-submit="login.doLogin()" ng-hide="">
     <div class="row">
       <div class="large columns">
           <input type="text" name="username" ng-model="login.username" placeholder="Username" readonly="readonly" />
       </div>
     </div>
    <div class="row">
       <div class="large columns">
           <input type="email" name="email" ng-model="login.email" placeholder="Email" readonly="readonly" />
       </div>
    </div>
  </form>
</div>