
<div ng-controller="HomeController">
    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">MechPy</h1>
                </section>

            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><a href="#">&nbsp;</a></li>
                </ul>
                <menu-esquerdo></menu-esquerdo>
            </aside>
            
            <section class="conteudo">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                  {{ alert.msg }}
                </alert>
                <div ng-if="template_name" ng-include="template_name"></div>
            </section>

            <a class="exit-off-canvas"></a>
        </div>
    </div>
</div>