<div class="panel sublevel-2">
  <h3>Login</h3>
  <form name="loginForm" ng-submit="doLogin()" ng-hide="">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
      {{ alert.msg }}
    </alert>
     <div class="row">
       <div class="large columns">
           <input type="text" name="username" ng-model="username" placeholder="Username" />
       </div>
     </div>
    <div class="row">
       <div class="large columns">
           <input type="password" name="password" ng-model="password" placeholder="Password" />
       </div>
    </div>
    <div class="row">
      <div class="large columns">
        <input type="submit" class="expand button" value="Entrar"/>
      </div>
    </div>
  </form>
</div>