<div class="panel sublevel-2">
  <h3>Login</h3>
  <form name="loginForm" ng-submit="login.doLogin()" ng-hide="">
     <div class="row">
       <div class="large columns">
           <input type="text" name="username" ng-model="login.username" placeholder="Username" />
       </div>
     </div>
    <div class="row">
       <div class="large columns">
           <input type="password" name="password" ng-model="login.password" placeholder="Password" />
       </div>
    </div>
    <div class="row">
      <div class="large columns">
        <input type="submit" class="expanded button" value="Log In"/>
      </div>
    </div>
  </form>
</div>