
  <div class="my-left-menu">
    <dados-perfil></dados-perfil>
    <accordion close-others="false">
      <accordion-group heading="Item 1 " is-open="item1">
        <accordion-heading>
              Item 1
              <i ng-class="{'fa fa-chevron-down': item1, 'fa fa-chevron-right': !item1}"></i>
        </accordion-heading>
        <a ui-sref="dinamico({'modulo':'core', 'nome':'pessoa-list'})">
          Cadastro de Pessoa<i class="fa fa-download"></i>
        </a>
      </accordion-group>
      <accordion-group is-open="item2">
          <accordion-heading>
              Item 2
              <i ng-class="{'fa fa-chevron-down': item2, 'fa fa-chevron-right': !item2}"></i>
          </accordion-heading>
          <a href="#">This is just some content to illustrate fancy headings.</a>
      </accordion-group>
    </accordion>
  </div>
