
  <div class="my-left-menu">
    <dados-perfil></dados-perfil>
    <accordion close-others="false">
      <accordion-group heading="Item 1 " is-open="item1">
        <accordion-heading>
              <i class="fa fa-th-large"></i> Geral
              <i ng-class="{'fa fa-chevron-down': item1, 'fa fa-chevron-right': !item1}"></i>
        </accordion-heading>

        <a ui-sref="dinamico({'modulo':'core', 'nome':'pessoa-list'})">
          <i class="fa fa-users"></i> Cadastro de Pessoa
        </a>

        <a>
          <i class="fa fa-font-awesome"></i> Cadastro de País
        </a>

        <a>
          <i class="fa fa-cubes"></i> Cadastro de Estado
        </a>

        <a>
          <i class="fa fa-cube"></i> Cadastro de Cidade
        </a>

        <a>
          <i class="fa fa-rebel"></i> Cadastro de Funcionário
        </a>
        
        <a>
          <i class="fa fa-money"></i> Faturas
        </a>

        <a>
          <i class="fa fa-empire"></i> Gerencial
        </a>

      </accordion-group>
      <accordion-group is-open="item2">
          <accordion-heading>
              <!-- fa-car -->
              <i class="fa fa-wrench"></i> Oficina
              <i ng-class="{'fa fa-chevron-down': item2, 'fa fa-chevron-right': !item2}"></i>
          </accordion-heading>

          <a>
            <i class="fa fa-flag"></i> Cadastro de Marca
          </a>

          <a>
            <i class="fa fa-road"></i> Cadastro de Modelo
          </a>

          <a>
            <i class="fa fa-car"></i> Cadastro de Veículo
          </a>

          <a>
            <i class="fa fa-paint-brush"></i> Cadastro de Cor
          </a>

          <a>
            <i class="fa fa-cogs"></i> Cadastro de Serviço
          </a>

          <a>
            <i class="fa fa-object-group"></i> Cadastro de Categoria
          </a>

          <a>
            <i class="fa fa-cog"></i> Cadastro de Produto
          </a>

          <a>
            <i class="fa fa-paper-plane-o"></i> Cadastro de Pedido
          </a>

          <a>
            <i class="fa fa-shopping-cart"></i> Cadastro de Compra
          </a>

      </accordion-group>
    </accordion>
  </div>
